<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title><%= title || "CSE Motors" %></title>
  <meta name="description" content="CSE Motors – quality vehicles and upgrades." />
  <link rel="icon" href="/images/delorean.png" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="/css/styles.css" media="screen" />
</head>