<nav aria-label="Primary">
  <ul class="topnav">
    <li><a class="active" href="/">Home</a></li>
    <li><a href="#">Custom</a></li>
    <li><a href="#">Sedan</a></li>
    <li><a href="#">SUV</a></li>
    <li><a href="#">Truck</a></li>
  </ul>
</nav>